*.o
*.a
*.dSYM
examples/magnitude_spectrum
examples/magnitude_spectrum.csv
examples/magnitude_spectrum.html
examples/power_spectral_density
examples/power_spectral_density.csv
examples/power_spectral_density.html
examples/spectrogram
examples/spectrogram.csv
examples/spectrogram.html
tests/test_minidsp
tests/gcc_phat_test
tests/gcc_phat_multi_test
tests/testliveio
tests/testliverec
.git
.github
docs/
doxygen-awesome-css/
guides/
doxygen-custom/
Doxyfile
*~
.claude/
CLAUDE.md
