#emacs tmp files
*~

# C files
*.o
*.a

tests/testlocalaudio

tests/sinedriver

tests/multisinedriver

tests/gcc_phat_multi_test

tests/gcc_phat_test

tests/testliveio

tests/testliverec

gnuplot_tmpdatafile_*
